<!DOCTYPE html>
<html>
{{>_head}}
  <body class="link3">
    <header>
      <nav>
        <ul class="">
          <a class="" href="/profiles"><li class="link1">Profiles</li></a>
          <a class="" href="/snippets"><li class="link2">All Snippets</li></a>
          <a class="" href="/create"><li class="link3">Create</li></a>
          <a class="" href="/html"><li class="link4">Html</li></a>
          <a class="" href="/css"><li class="link5">CSS</li></a>
          <a class="" href="/javascript"><li class="link6">Javascript</li></a>
          <a class="" href="/nodejs"><li class="link7">Nodejs</li></a>
        </ul>
      </nav>
    </header>
    <main>
      <h1>You made it to Sign-up!</h1>
      <form class="" action="/create" method="post">
        <input type="text" name="title" value="" placeholder="Username">
        <textarea name="description" rows="4" cols="80"></textarea>
        <textarea name="snippet" rows="8" cols="80"></textarea>
        <select class="" name="tags">
          <option value="HTML">HTML</option>
          <option value="CSS">CSS</option>
          <option value="JavaScript">JavaScript</option>
          <option value="Nodejs">Nodejs</option>
        </select>
        <button class="btn btn-secondary" type="submit" name="button">Login</button>
      </form>
    </main>

  </body>
</html>
