<!DOCTYPE html>
<html>
{{>_head}}
<body>
  <header>
    <nav>
      <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>You made it Home!</h1>
  </main>

</body>

</html>
