<!DOCTYPE html>
<html>
{{>_head}}
<body class=link6>
  <header>
    <nav>
      <ul class="">
        <a class="" href="/profiles"><li class="link1">Profiles</li></a>
        <a class="" href="/snippets"><li class="link2">All Snippets</li></a>
        <a class="" href="/html"><li class="link3">Html</li></a>
        <a class="" href="/css"><li class="link4">CSS</li></a>
        <a class="" href="/javascript"><li class="link5">Javascript</li></a>
        <a class="" href="/nodejs"><li class="link6">Nodejs</li></a>
      </ul>
    </nav>
  </header>
  <main>
    <h1>You made it inside the app!</h1>
  </main>

</body>

</html>
