<!DOCTYPE html>
<html>
{{>_head}}
  <body class="link3">
    <header>
      <nav>
        <ul class="">
          <a class="" href="/"><li class="link1">Home</li></a>
          <a class="" href="/login"><li class="link2">Login</li></a>
          <a class="" href="/register"><li class="link3">Register</li></a>
        </ul>
      </nav>
    </header>
    <main>
      <h1>You made it to Sign-up!</h1>
      <form class="" action="/registered" method="post">
        <input type="text" name="username" value="" placeholder="Username" autofocus>
        <input type="password" name="password" value="" placeholder="Password">
        <input type="password" name="password-match" value="" placeholder="Re-enter Password">
        <button class="btn btn-secondary" type="submit" name="button">Login</button>
      </form>
    </main>

  </body>
</html>
