<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
  </head>
  <body>
    <header>
      <ul class="">
        <a class="" href="/"><li class="">Home</li></a>
        <a class="active" href="/login"><li class="">Login</li></a>
        <a class="" href="/register"><li class="">Register</li></a>
      </ul>
    </header>
    <main>

    </main>
  </body>
</html>
